In [2]:
import pandas as pd
data = pd.read_csv('lalaiga 2 all player final - lalaiga 2 all player.csv')
data.head()

,Player Name,Team-name,Age,Position,App,MinP,Goals,Assist,YC,RC,SPG,PS%,AW,MOTM,Rating
0,Robert Lewandowski,Barcelona,34,FW,20(1),1682,15.0,5.0,NaN,1.0,3.8,79,1.6,7.0,7.53
1,Karim Benzema,Real Madrid,35,FW,15,1306,11.0,3.0,1.0,NaN,4.7,87,0.7,4.0,7.45
2,Antoine Griezmann,Atletico,31,AM(CLR) FW,18(7),1693,8.0,8.0,NaN,NaN,2.6,81.5,0.8,5.0,7.45
3,Vinícius Júnior,Real Madrid,22,AM(L) FW,24,2122,8.0,4.0,8.0,NaN,2.5,82.3,NaN,4.0,7.38
4,Pedri,Barcelona,20,AM(CL),18(3),1634,6.0,NaN,2.0,NaN,0.8,88.5,NaN,3.0,7.28

In [6]:
import pandas as pd

df = pd.read_csv("lalaiga 2 all player final - lalaiga 2 all player.csv")

# 計算"Age"欄位的平均值
avg_age = df["Age"].mean()

# 輸出平均值
print("平均年齡：", avg_age)

平均年齡： 26.843173431734318

In [7]:
import pandas as pd

df = pd.read_csv("lalaiga 2 all player final - lalaiga 2 all player.csv")

# 計算"Team-name"欄位中每個隊伍出現的次數
team_counts = df["Team-name"].value_counts()

# 找出出現次數最多的隊伍
most_frequent_team = team_counts.index[0]

# 輸出結果
print("出現次數最多的隊伍是：", most_frequent_team)

出現次數最多的隊伍是： Cadiz

In [8]:
import pandas as pd

df = pd.read_csv("lalaiga 2 all player final - lalaiga 2 all player.csv")

# 計算"Goals"欄位的平均值
avg_goals = df["Goals"].mean()

# 輸出平均值
print("平均進球數：", avg_goals)

平均進球數： 2.6527777777777777

In [9]:
import pandas as pd

df = pd.read_csv("lalaiga 2 all player final - lalaiga 2 all player.csv")

# 計算"Assist"欄位的平均值
avg_assist = df["Assist"].mean()

# 輸出平均值
print("平均助攻數：", avg_assist)

平均助攻數： 1.9320388349514563

In [10]:
import pandas as pd

df = pd.read_csv("lalaiga 2 all player final - lalaiga 2 all player.csv")

# 找到"Age"欄位的最大值對應的行
max_age_row = df.loc[df["Age"].idxmax()]

# 取得對應的"Player Name"欄位的值
player_name = max_age_row["Player Name"]

# 輸出結果
print("年齡最大的球員為：", player_name)

年齡最大的球員為： Joaquín

In [13]:
import pandas as pd

df = pd.read_csv("lalaiga 2 all player final - lalaiga 2 all player.csv")

# 找到"Position"欄位出現最多次的值
most_common_position = df["Position"].mode()[0]

# 找到對應"Position"欄位值的位置
team_with_most_common_position = df.loc[df["Position"] == most_common_position, "Team-name"].iloc[0]

# 輸出結果
print("球員位置最多的球員是：", team_with_most_common_position)

球員位置最多的球員是： Athletic Bilbao

In [12]:
import pandas as pd

df = pd.read_csv("lalaiga 2 all player final - lalaiga 2 all player.csv")

# 找到"Position"欄位出現最多次的值
most_common_position = df["Position"].mode()[0]

# 輸出結果
print("球員位置最多的位置是：", most_common_position)

球員位置最多的位置是：    D(C)

In [14]:
import pandas as pd

df = pd.read_csv("lalaiga 2 all player final - lalaiga 2 all player.csv")

# 計算"Rating"欄位的平均值
rating_mean = df["Rating"].mean()

# 輸出結果
print("所有球員平均Rating為：", rating_mean)

所有球員平均Rating為： 6.477675276752759

In [15]:
import pandas as pd

df = pd.read_csv("lalaiga 2 all player final - lalaiga 2 all player.csv")

# 計算"Goals"欄位最大值與最小值的差
goals_diff = df["Goals"].max() - df["Goals"].min()

# 輸出結果
print("球員進球數最多相差：", goals_diff)

球員進球數最多相差： 14.0

In [16]:
import pandas as pd

df = pd.read_csv("lalaiga 2 all player final - lalaiga 2 all player.csv")

# 計算"Age"欄位最大值與最小值的差
age_diff = df["Age"].max() - df["Age"].min()

# 輸出結果
print("球員年齡差距最大為：", age_diff)

球員年齡差距最大為： 24