In [23]:
#匯入csv

import pandas as pd

album1 = pd.read_csv("Album_example1.csv")
album1

,Album,Artist,Year,Record,Nation,listened
0,Whats Going On,Marvin Gaye,1971,Tamla/Motown,1,0
1,Pet Sounds,The Beach Boys,1966,Capitol,1,0
2,Songs in the Key of Life,Stevie Wonder,1976,Tamla/Motown,1,1
3,Abbey Road,The Beatles,1969,Apple,0,1
4,Rumors,Fleetwood Mac,1977,Warner Bros.,0,0

In [24]:
album2 = pd.read_csv("Album_example2.csv")
album2

,Album,Artist,Year,Record,Nation,listened
0,Purple Rain,Prince and the Revolution,1984,Warner Bros.,1,1
1,Are You Experienced,Jimi Hendrix,1967,Track,1,1
2,Sgt. Pepper’s Lonely Hearts Club Band,The Beatles,1967,Capitol,0,1
3,White Album,The Beatles,1968,Apple,0,1
4,Nevermind,Nirvana,1991,Geffen,0,1