In [2]:
#匯入csv

import pandas as pd

album1 = pd.read_csv("Album_example1.csv")
album1

,Album,Artist,Year,Record,Nation,listened
0,Whats Going On,Marvin Gaye,1971,Tamla/Motown,1,0
1,Pet Sounds,The Beach Boys,1966,Capitol,1,0
2,Songs in the Key of Life,Stevie Wonder,1976,Tamla/Motown,1,1
3,Abbey Road,The Beatles,1969,Apple,0,1
4,Rumors,Fleetwood Mac,1977,Warner Bros.,0,0

In [3]:
album2 = pd.read_csv("Album_example2.csv")
album2

,Album,Artist,Year,Record,Nation,listened
0,Purple Rain,Prince and the Revolution,1984,Warner Bros.,1,1
1,Are You Experienced,Jimi Hendrix,1967,Track,1,1
2,Sgt. Pepper’s Lonely Hearts Club Band,The Beatles,1967,Capitol,0,1
3,White Album,The Beatles,1968,Apple,0,1
4,Nevermind,Nirvana,1991,Geffen,0,1

In [4]:
# dataframe to set
set_album1 = set(album1["Artist"])
set_album2 = set(album2["Artist"])

In [5]:
set_album1

{'Fleetwood Mac',
 'Marvin Gaye ',
 'Stevie Wonder ',
 'The Beach Boys ',
 'The Beatles'}

In [6]:
set_album2

{'Jimi Hendrix', 'Nirvana', 'Prince and the Revolution ', 'The Beatles'}

In [7]:
# 交集
# RollingStone500大專輯前10名，有4個都是The Beatles的專輯，也只有他們重複獲選
set_album1 & set_album2

{'The Beatles'}

In [8]:
#聯集
#專輯前10名裡的歌手共有8位
set_album1 | set_album2

{'Fleetwood Mac',
 'Jimi Hendrix',
 'Marvin Gaye ',
 'Nirvana',
 'Prince and the Revolution ',
 'Stevie Wonder ',
 'The Beach Boys ',
 'The Beatles'}

In [9]:
#差集
# 前5項只有一項是The Beatles，其他4項是各個不同歌手的專輯
set_album1 - set_album2

{'Fleetwood Mac', 'Marvin Gaye ', 'Stevie Wonder ', 'The Beach Boys '}

In [10]:
#差集
#後5項有2項是The Beatles
set_album2 - set_album1

{'Jimi Hendrix', 'Nirvana', 'Prince and the Revolution '}

In [11]:
#對稱差集
#聯集 - 交集
#除了The Beatles 以外所有入圍前10名的歌手(7位)
set_all = set_album1 | set_album2
set_both = set_album1 & set_album2
set_all - set_both

{'Fleetwood Mac',
 'Jimi Hendrix',
 'Marvin Gaye ',
 'Nirvana',
 'Prince and the Revolution ',
 'Stevie Wonder ',
 'The Beach Boys '}